<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <base href="http://kymmt.github.io/howtohp" target="_self">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.content | strip_html | strip_newlines | truncate: 150 }}{% endif %}">
        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:author" content="@howtohp">
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.content | strip_html | strip_newlines | truncate: 150 }}{% endif %}">

        <!-- Facebook -->
        <meta property="og:type" content="article">
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.content | strip_html | strip_newlines | truncate: 150 }}{% endif %}">
        <meta property="og:url" content="{{ site.url}}{{ page.url}}">
        <meta property="og:locale" content="ja-JP">
        <meta property="article:published_time" content="{{ page.date }}">
        <!-- build:css({app,.tmp}) /assets/css/main.css -->
        <!-- Syntax highlighting CSS -->
        <link rel="stylesheet" href="/assets/css/syntax.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/assets/css/style.css">
        <!-- endbuild -->

    </head>
    <body>
        {% include header.html %}

        <div class="main container--small" role="main">
            <h1 class="entries__title" itemprop="name">{{ page.title }}</h1>
            {% for post in site.posts %}
            {% unless post.next %}
            <section class="entries">
                <h2 class="entries__sub-title">{{ post.date | date: '%Y' }}</h1>
                <ul class="entries__list">
                    {% else %}
                    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
                    {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
                    {% if year != nyear %}
                </ul>
                <hr>
                <h2 class="entries__sub-title">{{ post.date | date: '%Y' }}</h1>
                <ul class="entries__list">
                    {% endif %}
                    {% endunless %}
                    <li class="entries__item">
                        <a class="entries__link" href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a>
                        <time class="entries__published" published itemprop="datePublished" datetime="{{ post.date | date_to_string }}">
                            {{ post.date | date: "%-d %b, %Y" }}
                        </time>
                    </li>
                    {% endfor %}
                </section>
            </div><!-- / .main -->
            {% include footer.html %}

            <!-- build:js({app,.tmp}) /assets/js/scripts.js -->
            <script src="/js/assets/main.js"></script>
            <!-- endbuild -->
        </body>
    </html>
