---
layout: default
---
<article class="entry h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="entry__header">
        <h1 class="entry__title" itemprop="name">{{ page.title }}</h1>
        <div class="entry__meta">
            <time class="entry__published" itemprop="datePublished" datetime="{{ page.date | date_to_string }}">
                <span class="icon-calendar"></span>
                {{ page.date | date: "%-d %b, %Y" }}
            </time>

            {% if page.tags.size > 0 %}
            <div class="entry__tags">
                <span class="icon-tags"></span>
                <ul class="entry__tags__list">
                    {% for tag in page.tags %}
                    <li class="entry__tags__item" itemprop="keywords">{{ tag }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div><!-- / .entry__meta -->
    </header>

    <div class="entry__content" itemprop="articleBody">
        {{ content }}
    </div>


    <div class="entry__comments">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'howtohp';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
</article>

<div class="pager">
    {% if page.next.url %}
    <a href="{{page.next.url}}" class="pager__newer" title="Previous Post: {{page.next.title}}">&laquo; Newer </a>
    {% endif %}
    {% if page.previous.url %}
    <a href="{{page.previous.url}}" class="pager__older" title="Older Post: {{page.previous.title}}">Older &raquo;</a>
    {% endif %}
</div>


{% if site.related_posts.size > 1 %}
<hr>
<section class="related-posts entries">
    <h1>関連記事</h1>
    <ul>
        {% for post in site.related_posts limit:5 %}
        <li class="entries__item">
            <a class="entries__link" href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a>
            <time class="entries__published" published itemprop="datePublished" datetime="{{ post.date | date_to_string }}">
                {{ post.date | date: "%-d %b, %Y" }}
            </time>
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
