@import "compass";
@import "partials/variables";
//==================================
//  Entry 
//==================================
.post {
    clear:both;
    header {
        margin-bottom:20px;
        time {
            display:block;
            font:1.3em/1em Georgia, "Times New Roman", Times, serif;
            color:#555;
            margin:10px 0;
            @media only screen and (min-width:960px) {
                .month {
                    display:block;
                }
            }
        }
    }
    .entry-title {
        font-weight:bold;
        margin:0;
        line-height:1.5;
        font-size:22px;

        a {
            @include transition-duration(0.1s);
        }
    }
}
//post thumbnail
.single .post-thumbnail {
    padding:5px;
}


.post-thumbnail {
    float:left;
    margin:0 15px 15px 0;
    border:2px solid #ddd;
    background:rgba(255,255,255,.7);
    a {
        display:block;
        padding:5px;
        @include transition-duration(none);
        &:hover {
            background-color:#fff !important;
            @include box-shadow(3px 3px 14px rgba(0,0,0,0.2));
        }
        &:active {
            @include box-shadow(0 -1px 4px rgba(0,0,0,0.4) inset);
        }
    }

    img {
        border:1px solid #ccc;
        vertical-align:bottom;
    }
}
//==================================
// Entry Content
//==================================
.entry-content {
    padding-bottom:15px;

    a {
        padding:3px;
        @include border-radius(3px);
        &:hover {
            color:#fff;
            background-color:$hover-color;
            @include text-shadow(0px 1px 0px darken($hover-color, 15%));
        }
        &[href^='http']:not([href *= 'howtohp.com']) {
            padding-right:20px;
            background-image:inline-image("share/ico-external_link.png");
            background-repeat:no-repeat;
            background-position: right 4px;
        }
    }

    section {
        clear:both;
    }

    //======================================
    // Heading
    //======================================
    h1 {
        position:relative;
        font-size:20px;
        padding-bottom:5px;
        border-bottom:3px solid darken($theme-color,20%);
        margin:30px 0;
    }
    h2 {
        margin:25px 0;
        font-size:18px;
        border-bottom:1px solid darken($theme-color,20%);
    }
    h3 {
        font-size:16px;
        padding-left:8px;
        border-left:4px solid darken($theme-color,40%);
    }
    h4 {
        font-size:15px;
    }
    p {
        margin:0 0 1.8em 0;

    }

    //======================================
    // Lists
    //======================================
    ol,ul,dl {
        margin:15px 0 25px;
    }

    li {
        padding:4px;
    }
    ul,ol {
        padding-left:20px;
        ul,ol {
            margin:0.5em inherit;
        }
    }
    ul {
        list-style-type: circle;
    }
    ol {
        list-style-type: decimal;
        li {
        }
    }
    dl {
        dt {
            font-weight:bold;
            margin-bottom:0.3em;
        }
        dd {
            margin-left:1.2em;
            margin-bottom:0.8em;
        }
    }
    
    strong {
        text-decoration:underline;
    }

    blockquote {
        font: 14px/22px normal helvetica, sans-serif;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 50px;
        padding-left: 15px;
        border-left: 3px solid darken($theme-color,20%);
    }
    cite {
        display:block;
        text-align:right;
        font-family:serif;
    }

    //Wordpress default class
    img {
        &.aligncenter {
            clear: both;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top:1.4em;
        }
        &.alignleft {
            display: inline;
            float: left;
            margin-right: 1.4em;
            margin-top:1.4em;
        }
        &.alignright {
            display: inline;
            float: right;
            margin-left: 1.4em;
            margin-top:1.4em;
        }
    }
    
    figure {
        @include clearfix;
        clear:both;
        background:#fff;
        text-align:center;
        margin-bottom:1.5em;
        padding:20px 10px 20px 10px;
        border:1px solid darken($theme-color,20%);
        img {
            vertical-align:bottom;
        }
        figcaption {
            text-align:right;
            font-family:serif;
            &.center {
                text-align:center;
            }
        }
        &.bordered {
            @include border-radius(10px);
            border:1px solid darken($theme-color,20%);
        }
    }

    table {
        width: 100%;
        background:#fff;
        margin-bottom:2em;
        padding: 0;
        border-collapse: separate; // Done so we can round those corners!
        *border-collapse: collapse; /* IE7, collapse table to remove spacing */
        font-size: $default-font-size;
        border: 1px solid #ddd;
        text-shadow:0 1px 1px #fff;
        thead {
            th {
                background-color:#EFE9DF;
                @include background(linear-gradient(color-stops(#EFE9DF, #DED2BD)));
                text-align:center;
            }
            th + th {
                border-left: 1px solid lighten(#ddd, 10%);
            }
        }
        th, td {
            padding: 10px 10px 9px;
            line-height: $default-line-height;
            text-align: left;
        }
        th {
            padding-top: 9px;
            font-weight: bold;
            vertical-align: middle;
            border-bottom: 1px solid #ddd;
        }
        td {
            vertical-align: top;
        }
        th + th,
        td + td {
            border-left: 1px solid #ddd;
        }
        tr + tr td {
            border-top: 1px solid #ddd;
         }
        tbody {
			tr:nth-child(odd) td {
				background-color: lighten(#f5f5f5, 1%);
			}
			tr:hover td {
				background-color: #f5f5f5;
			}
        }
    }
}

//==============================
// Entry meta
//==============================
.entry-meta {
    padding:15px 0;
}
#social-link {
    border-top:3px dashed darken($theme-color,20%);
    padding-top:20px;
    li {
        margin-right:10px;
        float:left;
    }
}

p.backtotop {
    font-size:0.9em;
    text-align:right;
    a {
        color:hsla(0,0,0,0.4);
        padding:4px;
        text-decoration:none;
        border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
    }
}


a.more-link {
    clear:both;
    float:right;
    padding:8 12px;
}



