.pager {
    @extend %clearfix;
    @include e(prev) {
        float:left;
        @extend .button-style;
        padding:8px 10px;
        &:active {
            @include box-shadow(inset 0 1px 4px rgba(0, 0, 0, 0.25),0 1px 0 white);
            @include background(linear-gradient(color-stops(#EFE9DF,#DED2BD)));
        }
    }
    @include e(next) {
        float:right;
        @extend .button-style;
        padding:8px 10px;
        &:active {
            @include box-shadow(inset 0 1px 4px rgba(0, 0, 0, 0.25),0 1px 0 white);
            @include background(linear-gradient(color-stops(#EFE9DF,#DED2BD)));
        }
    }
}
