---
layout: default
title: howtohp
---

{% for post in paginator.posts %}
<article class="entry h-entry" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header class="entry__header">
        <h1 class="entry__title"><a class="entry__title__link" href="{{ post.url }}" rel="bookmark">{{ post.title }}</a></h1>
        <div class="entry__meta">
            <time class="entry__published" itemprop="datePublished" datetime="{{ post.date | date: "%Y-%m-%d" }}">
                <span class="icon-calendar"></span>
                {{ post.date | date: "%-d %b, %Y" }}
            </time>

            {% if post.tags.size > 0 %}
            <div class="entry__tags">
                <span class="icon-tags"></span>
                <ul class="entry__tags__list">
                    {% for tag in post.tags %}
                    <li class="entry__tags__item" itemprop="keywords">{{ tag }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div><!-- / .entry__meta -->
    </header>

    <div class="entry__content" itemprop="articleBody">
        {% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}
    </div>
</article>

<hr>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pager">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pager__newer" title="Previous Post: {{page.previous.title}}">&laquo; Newer Posts</a>
    {% endif %}

    <span class="pager__number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pager__older" title="next Post: {{page.next.title}}">Older Posts &raquo; </a>
    {% endif %}
</div>
{% endif %}

