<header class="header container" role="banner">
    <div class="header__title">
        <h1><a href="/">howtohp</a></h1>
    </div>

    <nav class="global-nav" role="navigation">
        <ul class="global-nav__list">
            <li class="global-nav__item"><a class="global-nav__link" href="/">HOME</a></li>
            <li class="global-nav__item"><a class="global-nav__link" href="/archive">Archive</a></li>
            <li class="global-nav__item"><a class="global-nav__link" href="/about">About</a></li>
        </ul>
    </nav>
</header>
