@import "compass";
@import "partials/variables";
@import "partials/mixins";
@import "partials/extends";
@import "partials/normalize";

//=====================================
//  Modules
//=====================================
@import "modules/header";
@import "modules/footer";
@import "modules/entry";
@import "modules/entries";
@import "modules/pager";
@import "modules/font-icons";
//=====================================
// Experimental
//=====================================
::-moz-selection {
    background: $accent-color;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: $accent-color;
    color: #fff;
    text-shadow: none;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.5);
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: auto;
}

img {
    max-width: 100%;
    height: auto;
    //width /***/:auto;  /*IE8のみ適用*/
}


/* ===================================================
Base Style
=================================================== */
html {
    font-size:62.5%;
}

body {
    border-top:3px solid $accent-color;
    background-color:$theme-color;
    background-image:  inline-image("../img/share/background.png");
    color:$default-color;
    font-family: $default-font-family;
    line-height:$default-line-height;
}

h1,h2,h3,h4,h5,h6 {
    clear:both;
}
h1,h2,h3,h4,h5,h6,p,ol,ul,dl {
    @include text-shadow(0px 1px 0px rgba(255,255,255,0.4));
}

a {
    @include transition-duration(.3s);
    &:link {
        color:$accent-color;
        text-decoration:none;
    }
    &:visited {
        color:$accent-color;
    }
    &:hover {
        color:orange;
    }
    &:active {
        color:darken($accent-color,10%);
    }
}

.clearfix {
    @extend %clearfix;
}

hr {
    margin:30px auto;
    width:70%;
    height:0;
    border-top:5px solid darken($theme-color, 5%);
    border-bottom:5px solid darken($theme-color, 5%);
    border-radius:15px;
}

//==================================
//  Common styles for @extend
//==================================
.embos-line-bottom {
    @include box-shadow(0 1px 0 lighten($theme-color,15%));
    border-bottom:1px solid darken($theme-color,10%);
}



//===================================
// main
//===================================
.main {
    padding-bottom:40px;
}

.backtotop {
    text-align:right;
    font-size:0.9em;
    a {
        padding:4px;
        border-bottom:1px solid rgba(0,0,0,.2);
        color:rgba(0,0,0,.4);
        text-decoration:none;
    }
}


//====================================================================
// layout
//====================================================================
.container {
    @extend %clearfix;
    margin-right: auto;
    margin-left: auto;
    max-width:$mobile-container-width;
}

.container--small {
    @extend %clearfix;
    margin:0 auto;
    max-width:$mobile-container-width - 5%;
}

.main {
    margin-top:10px;
}

//====================================================================
// media queries
//====================================================================
//記事一覧ページ用
.home,.archive {
    .entry__content {
        p:first-of-type {
            overflow:hidden;
            min-height:5.6em;
            max-height: 7em;
            text-overflow: ellipsis;
            line-height:1.4;
        }
        p:not(:first-of-type) {
            display:none;
        }
    }
}


@media #{$middle} {
    .container {
        @include m(small) {
            width:$tablet-container-width - 5%;
        }
        width:$tablet-container-width;
    }


}

//======================================================
//  PC
//======================================================
@media #{$large} {
    .container {
        max-width:$pc-container-width;
    }
    .container--small {
        max-width:$pc-container-width - 60px;
    }

    hr {
        margin:45px auto;
    }
}

