/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.3
 */

pre {
    border: 1px solid #ccc;
//    word-wrap: break-word;
    padding: 10px;
    line-height: 19px;
    margin-bottom: 20px;
    font-family: Consolas, Menlo, 'Liberation Mono', Courier, monospace;
    color: #333;
    background: #f8f8f8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    code {
        border: 0px;
        padding: 0px;
        margin: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        font-size: 16px;
    }

    .comment {
        color: #998; }
    .support {
        color: #0086B3; }
    .tag, .tag-name {
        color: navy; }
    .keyword, .css-property, .vendor-prefix, .sass, .class, .id, .pseudo, .css-value, .entity.function, .storage.function {
        font-weight: bold; }
    .css-property, .css-value, .vendor-prefix, .support.namespace {
        color: #333; }
    .constant.numeric, .keyword.unit, .hex-color {
        font-weight: normal;
        color: #099; }
    .entity {
        &.class,
        &.pseudo {
            color: #458;
        }
        &.id, &.function {
            color: #900; } }
    .attribute, .variable {
        color: teal; }
    .string, .support.value {
        font-weight: normal;
        color: #d14; }
    .regexp {
        color: #009926; } }
