/**
 * Obsidian theme
 *
 * Adapted from a theme based on:
 * http://studiostyl.es/schemes/son-of-obsidian
 *
 * @author Dan Stewart <dan@stewshack.com>
 * @version 1.0
 */

pre {
  background: #22282A;
  word-wrap: break-word;
  margin: 0px;
  padding: 0px;
  padding: 10px;
  color: #F1F2F3;
  font-size: 14px;
  margin-bottom: 20px;
  font-family: 'Monaco', courier, monospace; }

code {
  font-family: 'Monaco', courier, monospace; }

pre {
  .comment {
    color: #66747B; }
  .constant, .storage, .string, .comment.docstring {
    color: #EC7600; }
  .string.regexp {
    color: #fff; }
  .support.tag {
    &.script, &.style {
      color: #fff; } }
  .keyword, .selector {
    color: #93C763; }
  .inherited-class {
    font-style: italic; }
  .entity {
    color: #93C763; }
  .integer {
    color: #FFCD22; }
  .support {
    color: #FACD22; } }

*[data-language="csharp"] .function.call {
  color: #FACD22; }

pre {
  .variable {
    &.global, &.class, &.instance {
      color: #CCC; } }
  .preprocessor {
    color: #66747B; } }

/* C# specific rule */
